.about {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;

    .left {
        width: 30%;
        background-color: aquamarine;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 300px;
            height: 300px;
            border-radius: 50%;
            // animation: tourne 3s infinite linear;
        }
    }

    .right {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: darkcyan;

        p {
            width: 80%;
            font-family: "Mona Sans";
            font-size: 2rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            button{
                border: 1px solid #eb5e28;
                color: #eb5e28;
                background: none;
                padding: 1.2rem 3rem;
                font-size: 1.2rem;
                font-family: "Mona Sans";
                margin-top: 3rem;
            }
        }
    }
}

@keyframes tourne {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}