.navbar {
    // position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    z-index: 10;
    transition: 0.3s ease-in-out;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid white;
  }
  
  .big_logo_nav {
    font-family: "Montserrat", sans-serif;
    color: var(--second_color, white);
    letter-spacing: 0.3vw;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    font-size: 1em;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 11;
    transition: 0.5s;

    img {
        width: 70px;
        height: 70px;
        animation: FadeOutOnLoad 3s;
        -webkit-filter: drop-shadow(1px 1px 0 var(--main_color, black))
                        drop-shadow(-1px -1px 0 var(--main_color, black));
        filter: drop-shadow(1px 1px 0 var(--main_color, black)) 
                drop-shadow(-1px -1px 0 var(--main_color, black));  
    }
  }
  
  .nav_btn {
    background-color: transparent;
    height: 100px;
    width: 100px;
    position: fixed;
    top: 0px;
    right: 0px;
    border-radius: 50%;
    z-index: 20;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: FadeOutOnLoad 2s;
    border: none;
  }

  
  .nav__bg {
    height: 0px;
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 10;
    border-bottom: none;
    transition: 0.7s cubic-bezier(0.86, 0, 0.07, 1);
    background: rgba(0,0,0, 0.8);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .nav__link {
    display: inline-block;
    margin-top: 20px;
    // font-size: calc(1.3 * var(--text_size));
    font-size: 15px;
    font-weight: 300;
    color: var(--second_color, white);
    font-family: "Mona Sans", cursive, sans-serif;
    text-decoration: none;
    
    &:hover{
        color: red;
    }
  }