.loader{
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    font-family: "Mona Sans";
    text-transform: uppercase;
    h1{
        color: transparent;
        -webkit-text-stroke: 1px white;
        font-size: var(--big_title_size);
    }
    .progress{
        color: #eb5e28;
        font-weight: bold;
        font-size: var(--big_title_size);
    }
}