.bg{
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: #13100F;

    .bg_animate{
        display: flex;
        flex-direction: column;
        padding-top: 4rem;
        margin: 0 auto;
    }

    .row{
        display: flex;

        .square{
            width: 3vw;
            height: 3vw;
            border: 0.1px solid rgba(207, 123, 90, 0.5);
        }
    }
    
    @for $i from 1 to 31 {
        .test:nth-child(3n + #{$i}) {
           animation: #{$i} linear ease-in-out;
          }
    }

    @keyframes FadeBG {
        0%{
            background-color: rgba(230, 117, 11, 0.219);
        }
        50%{
            background-color: #eb5f28cc;
        }
        100%{
            background-color: #EB5E28;
        }
    }
}