.projects{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel_project{
    display: flex;
    transition: transform 0.3s ease-in-out;

    .carousel_item{
        width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: red;
        img{
            width: 442px;
            height: 593px;
            object-fit: cover;
            border-radius: 40px;

            &.dark{
                filter: brightness(70%);
            }
        }
    }
}