.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.395);

  .project_item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 45%;
    border-bottom: 2px solid white;
    padding: 2rem;
    text-decoration: none;
    transition: 0.2s ease-in;

    &:hover{
      background: #eb5e28;
      .left .name{
        color: black;
      }
    }

    &:nth-child(odd){
      border-right: 2px solid white;
    }

    .left{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 80%;

      img {
        height: 700px;
        margin-left: 5%;
      }

      .name {
        color: #eb5e28;
        text-align: center;
        font-size: calc(0.6 * var(--title_size));
        font-family: "Mona Sans";
        text-transform: uppercase;
        font-style: normal;
        font-weight: 700;
        transition: 0.2s ease-in;
        padding: 2rem;
      }
    }
    .right{
      width: 20%;
      height: 800px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      
      .number{
        font-family: "Mona Sans";
        text-transform: uppercase;
        text-align: center;
        font-size: var(--title_size);
        font-style: normal;
        -webkit-text-stroke: 1px white;
        color: transparent;
        font-weight: 700;
        width: 100%;
      }
      .lang{
        font-family: "Mona Sans";
        text-transform: uppercase;
        text-align: center;
        font-size: calc(0.7 * var(--title_size));
        font-style: normal;
        -webkit-text-stroke: 1.5px white;
        color: transparent;
        font-weight: 700;
        transform: rotate(-90deg);
        transform: rotate(90deg);
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        text-align: center;
        text-indent: 3rem;
      } 
    }
    

    &:hover .hover{
      display: flex;
    }

    
  }
}

@media screen and (max-width: 699px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.395);
  
    .project_item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      border: none;
      border-bottom: 2px solid white!important;
      padding: 0;
      text-decoration: none;
      transition: 0.2s ease-in;
      padding: 2rem 0px;
  
      &:hover{
        background: #eb5e28;
        .left .name{
          color: black;
        }
      }
  
      &:nth-child(odd){
        border-right: none;
      }
  
      .left{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
  
        img {
          height: 400px;
        }
  
        .name {
          color: #eb5e28;
          text-align: center;
          font-size: calc(0.9 * var(--title_size));
          font-family: "Mona Sans";
          text-transform: uppercase;
          font-style: normal;
          font-weight: 700;
          transition: 0.2s ease-in;
          padding: 2rem;
        }
      }
      .right{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        height: auto;
        
        .number{
          width: 20%;
          font-family: "Mona Sans";
          text-transform: uppercase;
          text-align: center;
          font-style: normal;
          color: white;
          font-weight: 700;
        }
        .lang{
          width: 70%;
          text-transform: uppercase;
          font-style: normal;
          color: transparent;
          font-weight: 700;
          transform: none;
          writing-mode:initial;
          color: white;
          text-align: start;
        text-indent: 0px;
        } 
      }
      
  
      &:hover .hover{
        display: flex;
      }
  
      
    }
  }
}
