/* Pour les gros titres de §*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
/* Pour les numéros*/
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');



/* Pour les petits textes importants */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* Pour le texte test */
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

@font-face {
  font-family: "Mona Sans";
  src: url(/assets/fonts/Mona-Sans.woff) format('woff2 supports variations'),
    url(/assets/fonts/Mona-Sans.woff) format('woff2-variations');
}

* {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

:root {
  --main_color: black;
  --second_color: #fff;
  --scd_color: #f1f1f17a;
  --main_bg: url("/assets/bg.png");
  --second_bg: url("/assets/bg2.png");
  --big_title_size: calc(40 * (0.03 * 10vmin));
  --title_size: calc(25px + 2.5vw);
  --text_size: calc(30 * (0.01 * 10vmin));
}

@media screen and (max-width: 699px) {
  :root {
    --big_title_size: calc(30 * (0.03 * 10vmin));
    --title_size: calc(25px + 2.5vw);
    --text_size: calc(25 * (0.01 * 10vmin));
  }
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  background-image: var(--second_bg);
  background-attachment: fixed;
  background-repeat: repeat;
  // background-size: cover;
  background-color: rgb(0, 0, 0);
  color: var(--second_color)
}

.layout {
  display: flex;
}

.page_container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.395);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar:hover {
  background: rgba(182, 179, 179, 0.396); ;
}

/* Track */
::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 5px rgb(255, 255, 255); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #eb5e28; 
  border-radius: 5px;
  width: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white; 
}

@keyframes PopUp {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
